@charset "UTF-8";

body {
    background-color: rgb(169, 230, 210);
    font-size: arial, sans-serif;
}
h1 {
    color: rgb(12, 88, 88);
}

h1#principal{
    text-align: center;
    background-color: rgb(139, 196, 196);
    color: rgb(12, 88, 88);
}
        
h2 {
    color: rgb(114, 111, 98);
}

.basico{
    color:rgb(82, 151, 112) ;
}

.intermediario{
    color: rgb(188, 196, 139);
}

.avancado{
    color: rgb(178, 99, 99);
}

.destaque{
    background-color: rgb(196, 139, 172);;
}